* + * {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  background-color: rgb(84, 130, 170);
}

nav h1 {
  margin: 0px;
  padding-top: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}
.navigation a:hover {
  text-decoration: underline;
}

.gauche {
  display: flex;
  padding-left: 30px;
  padding-bottom: 10px;
  gap: 20px;
}

.droite {
  padding-right: 30px;
}

.conteniteur {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  border-radius: 8px;
  margin-top: 50px;
}
.contenu {
  position: relative;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
}

.contenu h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.formulaire {
  position: relative;
  display: flex;

  justify-content: center;

  margin-top: 50px;
  margin-bottom: 50px;
}

.tableau {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableau h1 {
  text-align: center;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.annee {
  text-align: center;
}

.livre {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.livre:hover {
  text-decoration: underline;
}

.info_user {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.description_user {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.bouton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #000;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  padding: 5px;
}

.btn {
  display: inline;
  padding: 5px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  color: aliceblue;
  max-width: 200px;
  margin-bottom: 0;
}

.btn:hover {
  background-color: rgb(84, 130, 170);
}

.rouge:hover {
  background-color: rgb(129, 0, 0);
}

.boutons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;
  width: fit-content;
}
form {
  margin-block-end: 0px;
}
p {
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: rgb(0, 0, 0);
  color: aliceblue;

  text-align: left;
  padding: 10px 20px;
}

td {
  border: 1px solid black;
  padding: 10px;
}

form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  min-width: 200px;

  margin-bottom: 8px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
}

select {
  padding: 10px;
  min-width: 225px;
  margin-bottom: 8px;
  font-size: 12px;
}

footer {
  background-color: rgb(84, 130, 170);
  color: white;
  text-align: right;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  padding-right: 30px;
}

h2 {
  margin-top: 5px;
}
.conteneur-erreur {
  position: relative;
  display: flex;
  flex-direction: column;
}

.error {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background-color: rgba(251, 187, 187, 0.453);
  border-radius: 5px;
  border: red 1px solid;
  font-size: 0.9em;
  color: red;
  margin-bottom: 10px;
}
